body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    background-color: bisque;
    width: 60%;
    height: 1200px;
    margin: auto;
  }

  header {
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
  }
    header img {
        width: 100px;
    }
  nav {
    width: 75%;
    font-weight: 600;
  }

  main {
    background-color: yellow;
    font-size: 100%;
  }

  footer {
    background-color: #ccc;
  }

  li {
    display: inline;
    width: 33%;
  }

  h1 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', cursive, 'Trebuchet MS', sans-serif;
    color: blue;
    width: 100%;
  }

  p {
    line-height: 115%;
  }

  .grid-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .grid-container > img {
    width: 45%;
    padding: 10px 0;
  }

  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .flex-container > img {
    margin: 5px;
    width: 160px;
  }